<?xml version="1.0" encoding="UTF-8"?>
<!-- https://mybatis.org/mybatis-3/ko/getting-started.html 에서 가져와야한다. -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <!-- MemberDAO의 객체를 인지하겟다 -->
  <mapper namespace="com.ezen.www.repository.CommentDAO">
  
  
  <insert id="insert">
  	INSERT INTO comment (bno , writer , content)
  	VALUES(#{bno} , #{writer} , #{content})
  </insert>
  
  
  <select id="getList" resultType="com.ezen.www.domain.CommentVO">
  	SELECT * FROM comment
  	WHERE bno=#{bno}
  </select>
  
  
  <update id="delete" parameterType="int">
  	DELETE FROM comment
  	WHERE cno=#{cno}
  </update>
  
  
  <update id="modify">
  	UPDATE comment SET
  	content=#{content}
  	WHERE cno=#{cno}
  </update>
  
  
  </mapper>